nav{
    width: 100%;
    height: 100px;
    background-color: rgb(171, 168, 168);
}

.logo{
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}

.nav-con ul{
    list-style: none;
}

.nav-con{
    float: left;
    width: 980px;
    margin-left: 300px;
    margin-top: -60px;
}

.nav-con li{
    float: left;
    margin: 2%;
    color: white;
    text-align: center;
}


.search-btn{
    width: 225px;
    height: 40px;
    float: right;
    border-radius: 25px;
    color: white;
    background-color: rgb(111, 111, 111);
    text-align: center;
    border: 2px solid rgb(2, 246, 230);
    padding-right: 15px;
    padding-top: 5px;
}

.search-btn:hover{
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-right: 15px;
    border: 2px solid rgb(2, 246, 230);
    cursor: pointer;
    width: 225px;
    height: 40px;
    text-align: center;
    border-radius: 25px;
    float: right;
}

.overlay{
    width: 100%;
    height: 650px;
    background-color: rgba(0,0,0,0.6);
    
}

.header{
    width: 100%;
    height: 650px;
    background-color: white;
    background-image: url(../assets/logic_no_pressure_home_cover_image.png);
    background-size: cover;
    background-position: center;
}

.content{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 70px;
    color: white;
}

.song-btn ul{
    list-style: none;
    padding-left: 80px;
}
.song-btn li{
    width: 225px;
    height: 50px;
    color: white;
    border: 2px solid rgb(2, 246, 230);
    border-radius: 25px;
    margin: 1%;
    text-align: center;
    padding-top: 10px;
    float: left;
}
.round-image{ 
    width: 50px !important;
    height: 50px !important;
    border-radius: 25px !important;
    background-image: url(../assets/heart_icon.svg);
    background-size: cover;
    background-position: center;

}


.box{
    width: 450px;
    height: 300px;
    background-color: black;
    margin-left: 300px;
    margin-top: 250px;
    background-size: cover;
    background-position: center;
}

.big-box{
    width: 550px;
    height: 400px;
    background-color: rgb(53, 51, 51);
    color: white;
    margin-bottom: 50px;
    padding-left: 80px;
    margin-top: 250px;
    opacity: 80%;
}

ul{
    list-style: none;
}

.arrow-icons {
    margin-left: 280px;
}
.round-frame{
    width: 50px !important;
    height: 50px !important;
    border-radius: 25px !important;
    background-image: url(../assets/left_arrow_icon.svg);
    background-size: cover;
    background-position: center;
    float: left;
    margin: 1%;
    margin-top: 100px;

}

.round-icon{
    width: 50px !important;
    height: 50px !important;
    border-radius: 25px !important;
    background-image: url(../assets/right_arrow_icon.svg);
    background-size: cover;
    background-position: center;
    float: left;
    margin: 1%;
    margin-top: 100px;
}

.big-box h4{
    padding-top: 30px;
}

.row{
    width: 100%;
}

.col-3{
    background-color: black;
}

.Recent{
    color: white;
    background-color: black;
}
.Recent h5{
    margin-left: 40px;
}

.RR-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 80px;
    background-image: url(../assets/man_on_the_moon_album_cover.png);
    background-size: cover;
    background-position: center;
}

.Recent-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 80px;
    background-image: url(../assets/blame_it_on_baby_album_cover.png);
    background-size: cover;
    background-position: center;
}

.RecentR-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 80px;
    background-image: url(../assets/happy_thoughts_album_cover.png);
    background-size: cover;
    background-position: center;
}

.Release-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 80px;
    background-image: url(../assets/music_to_be_murdered_by_album_cover.png);
    background-size: cover;
    background-position: center;
}

.Popular{
    color: white;
    background-color: black;
}

.Popular h5{
    margin-left: 40px;
}

.PA-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    background-image: url(../assets/low_end_theory_album_cover.png);
    background-size: cover;
    background-position: center;
}

.Popular-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    background-image: url(../assets/wu_tang_album_cover.png);
    background-size: cover;
    background-position: center;
}

.PopularA-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    background-image: url(../assets/to_pimp_a_butterfly_album_cover.png);
    background-size: cover;
    background-position: center;
}

.Albums-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    background-image: url(../assets/revenge_album_cover.png);
    background-size: cover;
    background-position: center;
}

.popular-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 60px;
    background-image: url(../assets/kod_album_cover.png);
    background-size: cover;
    background-position: center;
}

.pp-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    background-image: url(../assets/no_pressure_album_cover.png);
    background-size: cover;
    background-position: center;
}

.pop-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    background-image: url(../assets/circles_album_cover.png);
    background-size: cover;
    background-position: center;
}

.pb-box{
    width: 277px;
    height: 277px;
    background-color: rgb(189, 187, 187);
    margin: 1%;
    margin-top: 40px;
    margin-left: 40px;
    background-image: url(../assets/kanye_album_cover.png);
    background-size: cover;
    background-position: center;
}

.footer{
    width: 100%;
    height: 80px;
    color: white;
    background-color: black;
}
.footer p{
    padding-left: 122px;
}


