nav{
    width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: 122px;
}

.logo{
    padding-top: 20px;
    padding-left: 20px;
}

.nav-con ul{
    list-style: none;
}

.nav-con{
    float: left;
    width: 540px;
    margin-left: 300px;
    margin-top: -40px;
}


.nav-con li{
    float: left;
    margin: 2%;
    color: black;
    text-align: center;
    
}

.search-btn{
    width: 225px;
    height: 40px;
    float: right;
    border-radius: 25px;
    color: white;
    background-color: rgb(111, 111, 111);
    text-align: center;
    border: 2px solid rgb(2, 246, 230);
    padding-right: 15px;
    padding-top: 5px;
    margin-top: -40px;
    margin-right: 50px;
}

.row{
    width: 100%;
}

.box{
    width: 470px;
    height: 470px;
    background-color: lightgray;
    color: white;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    padding-top: 110px;
}

.playlist-box ul{
    list-style: none;
}

.playlist-box{
    float: left;
    width: 540px;
    margin-left: 300px;
    border: 2px solid black;
    margin-left: 100px;
    margin-top: 80px;
}

.playlist-box li{
    float: left;
    margin: 2%;
    color: black;
    text-align: center;
}

.play-bar{
    margin-top: 100px;
}




